<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>title</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type='text' placeholder="Enter city" name="city" />
        <button type="submit">Enter</button>
    </form>
    <h1>{{description}}</h1>
    <h1>{{temp}}</h1>
    <h1>{{icon}}</h1>
    <h1>{{city}}</h1>
    <img src='http://openweathermap.org/img/w/{{icon}}.png' />
</body>
</html>